# Indiana High School Graduation Rates Study

This study digs into the graduation rates in Indiana high schools by separating out those students who received diplomas verses those who received waivers. We'll examine the relationships between diploma rates and federal school grade; diploma rates and school size; diploma rates and school attendance; and any trends and outliers that appear in the data.

In [19]:
#Dependencies
import pandas as pd

In [20]:
# Save file path to Excel files (only looking at school demographics to begin) 
school_demo2015 = pd.read_csv('Resources/School_Demographics2015.csv')
school_demo2016 = pd.read_csv('Resources/School_Demographics2016.csv')
school_demo2017 = pd.read_csv('Resources/School_Demographics2017.csv')
school_demo2018 = pd.read_csv('Resources/School_Demographics2018.csv')
school_demo2019 = pd.read_csv('Resources/School_Demographics2019.csv')
#school_demo2018.head()

In [21]:
# read column names. csv file used two rows to id columns. Pandas will use one row as column names.
school_demo2015.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'American Indian', 'Unnamed: 3',
       'Unnamed: 4', 'Asian', 'Unnamed: 6', 'Unnamed: 7', 'Black',
       'Unnamed: 9', 'Unnamed: 10', 'Hispanic', 'Unnamed: 12', 'Unnamed: 13',
       'Multiracial', 'Unnamed: 15', 'Unnamed: 16',
       'Native Hawaiian or Other Pacific Islander', 'Unnamed: 18',
       'Unnamed: 19', 'White', 'Unnamed: 21', 'Unnamed: 22', 'Paid meals',
       'Unnamed: 24', 'Unnamed: 25', 'Free/Reduced price meals', 'Unnamed: 27',
       'Unnamed: 28', 'General Education', 'Unnamed: 30', 'Unnamed: 31',
       'Special Education', 'Unnamed: 33', 'Unnamed: 34',
       'Non-English Language Learner', 'Unnamed: 36', 'Unnamed: 37',
       'English Language Learner', 'Unnamed: 39', 'Unnamed: 40', 'Female',
       'Unnamed: 42', 'Unnamed: 43', 'Male', 'Unnamed: 45', 'Unnamed: 46',
       'Total', 'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

In [22]:
# rename columns for df use in pandas
renamed2015 = school_demo2015.rename(columns={"Unnamed: 0":"Corp ID", 
                                            "Unnamed: 1":"Corporation Name",
                                            "American Indian":"Native American Cohort Count",
                                            "Unnamed: 3":"Native American Graduates",
                                            "Unnamed: 4":"Native American Grad Rate",
                                            "Asian":"Asian Cohort Count",
                                            "Unnamed: 6":"Asian Graduates",
                                            "Unnamed: 7":"Asian Grad Rate",
                                            "Black":"Black Cohort Count",
                                            "Unnamed: 9":"Black Graduates",
                                            "Unnamed: 10":"Black Grad Rate",
                                            "Hispanic":"Hispanic Cohort Count",
                                            "Unnamed: 12":"Hispanic Graduates",
                                            "Unnamed: 13":"Hispanic Grad Rate",
                                            "Multiracial":"Multiracial Cohort Count",
                                            "Unnamed: 15":"Multiracial Graduates",
                                            "Unnamed: 16":"Multiracial Grad Rate",
                                            "Native Hawaiian or Other Pacific Islander":"Native Pacific Islander Cohort Count",
                                            "Unnamed: 18":"Native Pacific Islander Graduates",
                                            "Unnamed: 19":"Native Pacific Islander Grad Rate",
                                            "White":"White Cohort Count", 
                                            "Unnamed: 21":"White Graduates",
                                            "Unnamed: 22":"White Grad Rate",
                                            "Paid Meals":"Paid Meals Cohort Count",
                                            "Unnamed: 24":"Paid Meals Graduates", 
                                            "Unnamed: 25":"Paid Meals Grad Rate",
                                            "Free/Reduced Price Meals":"Free/Reduced Meals Cohort Count",
                                            "Unnamed: 27":"Free/Reduced Meals Graduates",
                                            "Unnamed: 28":"Free/Reduced Meals Grad Rate",
                                            "General Education":"General Ed Cohort Count",
                                            "Unnamed: 30":"General Ed Graduates",
                                            "Unnamed: 31":"General Ed Grad Rate",
                                            "Special Education":"Special Ed Cohort Count",
                                            "Unnamed: 33":"Special Ed Graduates",
                                            "Unnamed: 34":"Special Ed Grad Rate",
                                            "Non-English Language Learner":"Non-English Language Learner Cohort Count", 
                                            "Unnamed: 36":"Non-English Language Learner Graduates",
                                            "Unnamed: 37":"Non-English Language Learner Grad Rate",
                                            "English Language Learner":"English Language Learner Cohort Count",
                                            "Unnamed: 39":"English Language Learner Graduates",
                                            "Unnamed: 40":"English Language Learner Grad Rate",
                                            "Female":"Female Cohort Count",
                                            "Unnamed: 42":"Female Graduates",
                                            "Unnamed: 43":"Female Grad Rate",
                                            "Male":"Male Cohort Count",
                                            "Unnamed: 45":"Male Graduates", 
                                            "Unnamed: 46":"Male Grad Rate",
                                            "Total":"Total Cohort Count", 
                                            "Unnamed: 48":"Total Graduates", 
                                            "Unnamed: 49":"Total Grad Rate"})
#renamed2015.head()

In [23]:
# drop the first row of data that csv file used as second column id row
clean_demo2015 = renamed2015.drop([0])
clean_demo2015.head()

,Corp ID,Corporation Name,Native American Cohort Count,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
1,0015,Adams Central Community Schools,***,***,***,***,***,***,NaN,NaN,...,***,49,47,95.9%,46,43,93.5%,95,90,94.7%
2,0025,North Adams Community Schools,NaN,NaN,NaN,***,***,***,***,***,...,***,83,79,95.2%,79,70,88.6%,162,149,92.0%
3,0035,South Adams Schools,NaN,NaN,NaN,***,***,***,***,***,...,***,47,44,93.6%,41,39,95.1%,88,83,94.3%
4,0125,M S D Southwest Allen County Schls,NaN,NaN,NaN,26,26,100.0%,25,21,...,***,283,272,96.1%,281,263,93.6%,564,535,94.9%
5,0225,Northwest Allen County Schools,***,***,***,12,12,100.0%,15,14,...,***,236,233,98.7%,280,264,94.3%,516,497,96.3%

In [24]:
school_demo2016.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'American Indian', 'American Indian.1',
       'American Indian.2', 'Asian', 'Asian.1', 'Asian.2', 'Black', 'Black.1',
       'Black.2', 'Hispanic', 'Hispanic.1', 'Hispanic.2', 'Multiracial',
       'Multiracial.1', 'Multiracial.2',
       'Native Hawaiian or Other Pacific Islander',
       'Native Hawaiian or Other Pacific Islander.1',
       'Native Hawaiian or Other Pacific Islander.2', 'White', 'White.1',
       'White.2', 'Paid meals', 'Paid meals.1', 'Paid meals.2',
       'Free/Reduced price meals', 'Free/Reduced price meals.1',
       'Free/Reduced price meals.2', 'General Education',
       'General Education.1', 'General Education.2', 'Special Education',
       'Special Education.1', 'Special Education.2',
       'Non-English Language Learner', 'Non-English Language Learner.1',
       'Non-English Language Learner.2', 'English Language Learner',
       'English Language Learner.1', 'English Language Learner.2', 'Female',
       'Female.1', 'Female.2', 'Male', 'Male.1', 'Male.2', 'Total',
       'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

In [25]:
# rename columns for df use in pandas
renamed2016 = school_demo2016.rename(columns={"Unnamed: 0":"Corp ID", 
                                            "Unnamed: 1":"Corporation Name",
                                            "American Indian":"Native American Cohort Count",
                                            "American Indian.1":"Native American Graduates",
                                            "American Indian.2":"Native American Grad Rate",
                                            "Asian":"Asian Cohort Count",
                                            "Asian.1":"Asian Graduates",
                                            "Asian.2":"Asian Grad Rate",
                                            "Black":"Black Cohort Count",
                                            "Black.1":"Black Graduates",
                                            "Black.2":"Black Grad Rate",
                                            "Hispanic":"Hispanic Cohort Count",
                                            "Hispanic.1":"Hispanic Graduates",
                                            "Hispanic.2":"Hispanic Grad Rate",
                                            "Multiracial":"Multiracial Cohort Count",
                                            "Multiracial.1":"Multiracial Graduates",
                                            "Multiracial.2":"Multiracial Grad Rate",
                                            "Native Hawaiian or Other Pacific Islander":"Native Pacific Islander Cohort Count",
                                            "Native Hawaiian or Other Pacific Islander.1":"Native Pacific Islander Graduates",
                                            "Native Hawaiian or Other Pacific Islander.2":"Native Pacific Islander Grad Rate",
                                            "White":"White Cohort Count", 
                                            "White.1":"White Graduates",
                                            "White.2":"White Grad Rate",
                                            "Paid Meals":"Paid Meals Cohort Count",
                                            "Paid Meals.1":"Paid Meals Graduates", 
                                            "Paid Meals.2":"Paid Meals Grad Rate",
                                            "Free/Reduced Price Meals":"Free/Reduced Meals Cohort Count",
                                            "Free/Reduced Price Meals.1":"Free/Reduced Meals Graduates",
                                            "Free/Reduced Price Meals.2":"Free/Reduced Meals Grad Rate",
                                            "General Education":"General Ed Cohort Count",
                                            "General Education.1":"General Ed Graduates",
                                            "General Education.2":"General Ed Grad Rate",
                                            "Special Education":"Special Ed Cohort Count",
                                            "Special Education.1":"Special Ed Graduates",
                                            "Special Education.2":"Special Ed Grad Rate",
                                            "Non-English Language Learner":"Non-English Language Learner Cohort Count", 
                                            "Non-English Language Learner.1":"Non-English Language Learner Graduates",
                                            "Non-English Language Learner.2":"Non-English Language Learner Grad Rate",
                                            "English Language Learner":"English Language Learner Cohort Count",
                                            "English Language Learner.1":"English Language Learner Graduates",
                                            "English Language Learner.2":"English Language Learner Grad Rate",
                                            "Female":"Female Cohort Count",
                                            "Female.1":"Female Graduates",
                                            "Female.2":"Female Grad Rate",
                                            "Male":"Male Cohort Count",
                                            "Male.1":"Male Graduates", 
                                            "Male.2":"Male Grad Rate",
                                            "Total":"Total Cohort Count", 
                                            "Unnamed: 48":"Total Graduates", 
                                            "Unnamed: 49":"Total Grad Rate"})
#renamed2016.head()

In [26]:
clean_demo2016 = renamed2016.drop([0])
clean_demo2016.head()

,Corp ID,Corporation Name,Native American Cohort Count,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
1,0015,Adams Central Community Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37,36,97.3%,50,50,100.0%,87,86,98.9%
2,0025,North Adams Community Schools,***,***,***,NaN,NaN,NaN,***,***,...,NaN,92,87,94.6%,95,79,83.2%,187,166,88.8%
3,0035,South Adams Schools,NaN,NaN,NaN,NaN,NaN,NaN,***,***,...,***,47,46,97.9%,34,27,79.4%,81,73,90.1%
4,0125,M S D Southwest Allen County Schls,***,***,***,23,22,95.7%,38,36,...,***,284,279,98.2%,277,263,94.9%,561,542,96.6%
5,0225,Northwest Allen County Schools,NaN,NaN,NaN,19,19,100.0%,***,***,...,***,270,265,98.1%,242,230,95.0%,512,495,96.7%

In [27]:
school_demo2017.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'American Indian', 'Unnamed: 3',
       'Unnamed: 4', 'Asian', 'Unnamed: 6', 'Unnamed: 7', 'Black',
       'Unnamed: 9', 'Unnamed: 10', 'Hispanic', 'Unnamed: 12', 'Unnamed: 13',
       'Multiracial', 'Unnamed: 15', 'Unnamed: 16',
       'Native Hawaiian or Other Pacific Islander', 'Unnamed: 18',
       'Unnamed: 19', 'White', 'Unnamed: 21', 'Unnamed: 22', 'Paid Meals',
       'Unnamed: 24', 'Unnamed: 25', 'Free/Reduced Price Meals', 'Unnamed: 27',
       'Unnamed: 28', 'General Education', 'Unnamed: 30', 'Unnamed: 31',
       'Special Education', 'Unnamed: 33', 'Unnamed: 34',
       'Non-English Language Learner', 'Unnamed: 36', 'Unnamed: 37',
       'English Language Learner', 'Unnamed: 39', 'Unnamed: 40', 'Female',
       'Unnamed: 42', 'Unnamed: 43', 'Male', 'Unnamed: 45', 'Unnamed: 46',
       'Total', 'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

In [28]:
# rename columns for df use in pandas
renamed2017 = school_demo2017.rename(columns={"Unnamed: 0":"Corp ID", 
                                            "Unnamed: 1":"Corporation Name",
                                            "American Indian":"Native American Cohort Count",
                                            "Unnamed: 3":"Native American Graduates",
                                            "Unnamed: 4":"Native American Grad Rate",
                                            "Asian":"Asian Cohort Count",
                                            "Unnamed: 6":"Asian Graduates",
                                            "Unnamed: 7":"Asian Grad Rate",
                                            "Black":"Black Cohort Count",
                                            "Unnamed: 9":"Black Graduates",
                                            "Unnamed: 10":"Black Grad Rate",
                                            "Hispanic":"Hispanic Cohort Count",
                                            "Unnamed: 12":"Hispanic Graduates",
                                            "Unnamed: 13":"Hispanic Grad Rate",
                                            "Multiracial":"Multiracial Cohort Count",
                                            "Unnamed: 15":"Multiracial Graduates",
                                            "Unnamed: 16":"Multiracial Grad Rate",
                                            "Native Hawaiian or Other Pacific Islander":"Native Pacific Islander Cohort Count",
                                            "Unnamed: 18":"Native Pacific Islander Graduates",
                                            "Unnamed: 19":"Native Pacific Islander Grad Rate",
                                            "White":"White Cohort Count", 
                                            "Unnamed: 21":"White Graduates",
                                            "Unnamed: 22":"White Grad Rate",
                                            "Paid Meals":"Paid Meals Cohort Count",
                                            "Unnamed: 24":"Paid Meals Graduates", 
                                            "Unnamed: 25":"Paid Meals Grad Rate",
                                            "Free/Reduced Price Meals":"Free/Reduced Meals Cohort Count",
                                            "Unnamed: 27":"Free/Reduced Meals Graduates",
                                            "Unnamed: 28":"Free/Reduced Meals Grad Rate",
                                            "General Education":"General Ed Cohort Count",
                                            "Unnamed: 30":"General Ed Graduates",
                                            "Unnamed: 31":"General Ed Grad Rate",
                                            "Special Education":"Special Ed Cohort Count",
                                            "Unnamed: 33":"Special Ed Graduates",
                                            "Unnamed: 34":"Special Ed Grad Rate",
                                            "Non-English Language Learner":"Non-English Language Learner Cohort Count", 
                                            "Unnamed: 36":"Non-English Language Learner Graduates",
                                            "Unnamed: 37":"Non-English Language Learner Grad Rate",
                                            "English Language Learner":"English Language Learner Cohort Count",
                                            "Unnamed: 39":"English Language Learner Graduates",
                                            "Unnamed: 40":"English Language Learner Grad Rate",
                                            "Female":"Female Cohort Count",
                                            "Unnamed: 42":"Female Graduates",
                                            "Unnamed: 43":"Female Grad Rate",
                                            "Male":"Male Cohort Count",
                                            "Unnamed: 45":"Male Graduates", 
                                            "Unnamed: 46":"Male Grad Rate",
                                            "Total":"Total Cohort Count", 
                                            "Unnamed: 48":"Total Graduates", 
                                            "Unnamed: 49":"Total Grad Rate"})
                                        
#renamed2017.head()

In [29]:
# drop the first row of data that csv file used as second column id row
clean_demo2017 = renamed2017.drop([0])
clean_demo2017.head()

,Corp ID,Corporation Name,Native American Cohort Count,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
1,0015,Adams Central Community Schools,***,***,***,NaN,NaN,NaN,NaN,NaN,...,NaN,51,50,98.04%,44,43,97.73%,95,93,97.89%
2,0025,North Adams Community Schools,***,***,***,***,***,***,***,***,...,***,89,84,94.38%,95,83,87.37%,184,167,90.76%
3,0035,South Adams Schools,***,***,***,***,***,***,NaN,NaN,...,NaN,54,50,92.59%,57,53,92.98%,111,103,92.79%
4,0125,M S D Southwest Allen County Schls,NaN,NaN,NaN,15,13,86.67%,25,24,...,***,287,282,98.26%,281,264,93.95%,568,546,96.13%
5,0225,Northwest Allen County Schools,***,***,***,13,13,100.00%,11,11,...,***,255,254,99.61%,245,240,97.96%,500,494,98.80%

In [30]:
school_demo2018.columns

Index(['Unnamed: 0', 'Unnamed: 1', '2018 State Graduation Rate Data',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49'],
      dtype='object')

In [31]:
# rename columns for df use in pandas
renamed2018 = school_demo2018.rename(columns={"Unnamed: 0":"Corp ID", 
                                            "Unnamed: 1":"Corporation Name",
                                            "2018 State Graduation Rate Data":"Native American Cohort Count",
                                            "Unnamed: 3":"Native American Graduates",
                                            "Unnamed: 4":"Native American Grad Rate",
                                            "Unnamed: 5":"Asian Cohort Count",
                                            "Unnamed: 6":"Asian Graduates",
                                            "Unnamed: 7":"Asian Grad Rate",
                                            "Unnamed: 8":"Black Cohort Count",
                                            "Unnamed: 9":"Black Graduates",
                                            "Unnamed: 10":"Black Grad Rate",
                                            "Unnamed: 11":"Hispanic Cohort Count",
                                            "Unnamed: 12":"Hispanic Graduates",
                                            "Unnamed: 13":"Hispanic Grad Rate",
                                            "Unnamed: 14":"Multiracial Cohort Count",
                                            "Unnamed: 15":"Multiracial Graduates",
                                            "Unnamed: 16":"Multiracial Grad Rate",
                                            "Unnamed: 17":"Native Pacific Islander Cohort Count",
                                            "Unnamed: 18":"Native Pacific Islander Graduates",
                                            "Unnamed: 19":"Native Pacific Islander Grad Rate",
                                            "Unnamed: 20":"White Cohort Count", 
                                            "Unnamed: 21":"White Graduates",
                                            "Unnamed: 22":"White Grad Rate",
                                            "Unnamed: 23":"Paid Meals Cohort Count",
                                            "Unnamed: 24":"Paid Meals Graduates", 
                                            "Unnamed: 25":"Paid Meals Grad Rate",
                                            "Unnamed: 26":"Free/Reduced Meals Cohort Count",
                                            "Unnamed: 27":"Free/Reduced Meals Graduates",
                                            "Unnamed: 28":"Free/Reduced Meals Grad Rate",
                                            "Unnamed: 29":"General Ed Cohort Count",
                                            "Unnamed: 30":"General Ed Graduates",
                                            "Unnamed: 31":"General Ed Grad Rate",
                                            "Unnamed: 32":"Special Ed Cohort Count",
                                            "Unnamed: 33":"Special Ed Graduates",
                                            "Unnamed: 34":"Special Ed Grad Rate",
                                            "Unnamed: 35":"Non-English Language Learner Cohort Count", 
                                            "Unnamed: 36":"Non-English Language Learner Graduates",
                                            "Unnamed: 37":"Non-English Language Learner Grad Rate",
                                            "Unnamed: 38":"English Language Learner Cohort Count",
                                            "Unnamed: 39":"English Language Learner Graduates",
                                            "Unnamed: 40":"English Language Learner Grad Rate",
                                            "Unnamed: 41":"Female Cohort Count",
                                            "Unnamed: 42":"Female Graduates",
                                            "Unnamed: 43":"Female Grad Rate",
                                            "Unnamed: 44":"Male Cohort Count",
                                            "Unnamed: 45":"Male Graduates", 
                                            "Unnamed: 46":"Male Grad Rate",
                                            "Unnamed: 47":"Total Cohort Count", 
                                            "Unnamed: 48":"Total Graduates", 
                                            "Unnamed: 49":"Total Grad Rate"})
#renamed2018.head()

In [32]:
clean_demo2018 = renamed2018.drop([0,1])
clean_demo2018.head()

,Corp ID,Corporation Name,Native American Cohort Count,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
2,0015,Adams Central Community Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,***,35,35,100.00%,50,46,92.00%,85,81,95.29%
3,0025,North Adams Community Schools,***,***,***,***,***,***,***,***,...,NaN,70,68,97.14%,72,68,94.44%,142,136,95.77%
4,0035,South Adams Schools,NaN,NaN,NaN,NaN,NaN,NaN,***,***,...,***,52,46,88.46%,43,41,95.35%,95,87,91.58%
5,0125,M S D Southwest Allen County Schls,***,***,***,24,24,100.00%,27,26,...,***,275,269,97.82%,279,263,94.27%,554,532,96.03%
6,0225,Northwest Allen County Schools,***,***,***,16,15,93.75%,13,12,...,***,270,264,97.78%,294,279,94.90%,564,543,96.28%

In [33]:
school_demo2019.columns

Index(['Unnamed: 0', 'Unnamed: 1', '2019 State Graduation Rate Data',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49'],
      dtype='object')

In [34]:
# rename columns for df use in pandas
renamed2019 = school_demo2019.rename(columns={"Unnamed: 0":"Corp ID", 
                                            "Unnamed: 1":"Corporation Name",
                                            "2018 State Graduation Rate Data":"Native American Cohort Count",
                                            "Unnamed: 3":"Native American Graduates",
                                            "Unnamed: 4":"Native American Grad Rate",
                                            "Unnamed: 5":"Asian Cohort Count",
                                            "Unnamed: 6":"Asian Graduates",
                                            "Unnamed: 7":"Asian Grad Rate",
                                            "Unnamed: 8":"Black Cohort Count",
                                            "Unnamed: 9":"Black Graduates",
                                            "Unnamed: 10":"Black Grad Rate",
                                            "Unnamed: 11":"Hispanic Cohort Count",
                                            "Unnamed: 12":"Hispanic Graduates",
                                            "Unnamed: 13":"Hispanic Grad Rate",
                                            "Unnamed: 14":"Multiracial Cohort Count",
                                            "Unnamed: 15":"Multiracial Graduates",
                                            "Unnamed: 16":"Multiracial Grad Rate",
                                            "Unnamed: 17":"Native Pacific Islander Cohort Count",
                                            "Unnamed: 18":"Native Pacific Islander Graduates",
                                            "Unnamed: 19":"Native Pacific Islander Grad Rate",
                                            "Unnamed: 20":"White Cohort Count", 
                                            "Unnamed: 21":"White Graduates",
                                            "Unnamed: 22":"White Grad Rate",
                                            "Unnamed: 23":"Paid Meals Cohort Count",
                                            "Unnamed: 24":"Paid Meals Graduates", 
                                            "Unnamed: 25":"Paid Meals Grad Rate",
                                            "Unnamed: 26":"Free/Reduced Meals Cohort Count",
                                            "Unnamed: 27":"Free/Reduced Meals Graduates",
                                            "Unnamed: 28":"Free/Reduced Meals Grad Rate",
                                            "Unnamed: 29":"General Ed Cohort Count",
                                            "Unnamed: 30":"General Ed Graduates",
                                            "Unnamed: 31":"General Ed Grad Rate",
                                            "Unnamed: 32":"Special Ed Cohort Count",
                                            "Unnamed: 33":"Special Ed Graduates",
                                            "Unnamed: 34":"Special Ed Grad Rate",
                                            "Unnamed: 35":"Non-English Language Learner Cohort Count", 
                                            "Unnamed: 36":"Non-English Language Learner Graduates",
                                            "Unnamed: 37":"Non-English Language Learner Grad Rate",
                                            "Unnamed: 38":"English Language Learner Cohort Count",
                                            "Unnamed: 39":"English Language Learner Graduates",
                                            "Unnamed: 40":"English Language Learner Grad Rate",
                                            "Unnamed: 41":"Female Cohort Count",
                                            "Unnamed: 42":"Female Graduates",
                                            "Unnamed: 43":"Female Grad Rate",
                                            "Unnamed: 44":"Male Cohort Count",
                                            "Unnamed: 45":"Male Graduates", 
                                            "Unnamed: 46":"Male Grad Rate",
                                            "Unnamed: 47":"Total Cohort Count", 
                                            "Unnamed: 48":"Total Graduates", 
                                            "Unnamed: 49":"Total Grad Rate"})
#renamed2019.head()

In [35]:
clean_demo2019 = renamed2019.drop([0,1])
clean_demo2019.head()

,Corp ID,Corporation Name,2019 State Graduation Rate Data,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
2,0015,Adams Central Community Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,***,52,51,98.08%,47,47,100.00%,99,98,98.99%
3,0025,North Adams Community Schools,NaN,NaN,NaN,***,***,***,***,***,...,NaN,84,81,96.43%,89,79,88.76%,173,160,92.49%
4,0035,South Adams Schools,NaN,NaN,NaN,***,***,***,***,***,...,***,39,34,87.18%,34,29,85.29%,73,63,86.30%
5,0125,M S D Southwest Allen County Schls,***,***,***,36,35,97.22%,32,28,...,NaN,288,278,96.53%,290,269,92.76%,578,547,94.64%
6,0225,Northwest Allen County Schools,***,***,***,21,21,100.00%,17,15,...,***,318,314,98.74%,265,246,92.83%,583,560,96.05%

In [36]:
clean_demo2019.to_csv("Resources/cleanschooldemographics2019.csv", index=False, header=True)

In [37]:
clean_demo2015.to_csv("Resources/cleanschooldemographics2015.csv", index=False, header=True)
clean_demo2016.to_csv("Resources/cleanschooldemographics2016.csv", index=False, header=True)
clean_demo2017.to_csv("Resources/cleanschooldemographics2017.csv", index=False, header=True)
clean_demo2018.to_csv("Resources/cleanschooldemographics2018.csv", index=False, header=True)

In [ ]:
##